@mixin font ($size, $weight, $height, $style: normal) {
    font-size: $size;
    font-style: $style;
    font-weight: $weight;
    line-height: $height;
}

@mixin offer-icon ($image) {
    content: "";
    display: block;
    position: absolute;
    width: 50px;
    height: 50px;
    top: 0;
    left: 0;
    margin-top: 7px;
    background-image: url($image);
}    