@mixin font ($size, $weight, $height, $style: normal) {
    font-size: $size;
    font-style: $style;
    font-weight: $weight;
    line-height: $height;
}

@mixin offer-icon ($image) {
    content: "";
    display: block;
    position: absolute;
    width: 50px;
    height: 50px;
    top: 0;
    left: 0;
    margin-top: 7px;
    background-image: url($image);
} 

@mixin media-laptop {
    @media (max-width: 1220px) { @content; }
}

@mixin media-minlaptop {
    @media (max-width: 1069px) { @content; }
}

@mixin media-tablet {
    @media (max-width: 769px) { @content; }
}

@mixin media-mobile {
    @media (max-width: 469px) { @content; }
}

@mixin media-minmobile {
    @media (max-width: 315px) { @content; }
}