html {
    font-size: 10px;
}

body {
    font-family: 'Nunito Sans', sans-serif;
}

@font-face {
    font-family: "NEXT ART";
    src: url(../font/NEXT-ART_Bold.otf);
}

.container {
    max-width: 1180px;
    margin: 0 auto;
}

.section-subtitle {
    @include font (2.4rem, 400, 20px);
    color: #F2BE22;
    margin-bottom: 8px;
}

.main--section-subtitle {
    text-align: center;
}

.section-title {
    @include font (3.2rem, 800, 38.5px);
    color: #18121E;
    max-width: 580px;
    margin-bottom: 40px;
}

.main--section-title {
    text-align: center;
    max-width: 100%;
}