.prim-button {
    display: inline-block;
    padding: 12px 24px;
    text-align: center;
    height: 44px;
    background: $color-dark-green;
    border: 1px solid transparent;
    border-radius: 4px;
    @extend %transition;

    @include font (1.6rem, 600, 20px);
    color: #FDFDFD;
    letter-spacing: 0.192px;
    &:hover {
        background: $color-light-gray;
        color: $color-dark-green;
        border: 1px solid $color-dark-green;
    }
}

.centred-button {
    display: block;
    width: 244px;
    text-align: center;
    margin: 0 auto;

    @include media-mobile {
        width: 200px;
        font-size: 1.3rem;
    }
}

.program-button {
    padding: 16px 36px;
    background: $color-light-gray;
    border-radius: 4px;
    border: 1px solid transparent;
    align-self: flex-start;
    @extend %transition;

    @include font (1.6rem, 700, 20px);
    color: $color-dark-green;
    letter-spacing: 0.192px;

    &:hover {
        background: $color-dark-green;
        color: $color-light-gray;
    };

    @include media-laptop {
        align-self: center;
    }
}

.offers-button {
    width: 215px;
}

.blog-button {
    width: 220px;
}

.gallery-button {
    width: 178px;
}

.subscribe-button {
    align-self: flex-end;

    @include media-minlaptop {
        align-self: flex-start;
        margin: 20px 0;
    };
    @include media-minmobile {
        font-size: 1.3rem;
        padding: 12px;
    }
}