.prim-button {
    display: inline-block;
    padding: 12px 24px;
    background: $color-dark-green;
    border: 1px solid transparent;
    border-radius: 4px;
    @extend %transition;

    @include font (1.6rem, 600, 20px);
    color: #FDFDFD;
    letter-spacing: 0.192px;
    &:hover {
        background: $color-light-gray;
        color: $color-dark-green;
        border: 1px solid $color-dark-green;
    }
}

.program__button {
    padding: 16px 36px;
    background: $color-light-gray;
    border-radius: 4px;
    border: 1px solid transparent;
    align-self: flex-start;
    @extend %transition;

    @include font (1.6rem, 700, 20px);
    color: $color-dark-green;
    letter-spacing: 0.192px;

    &:hover {
        background: $color-dark-green;
        color: $color-light-gray;
    }
}