.footer {
    position: relative;
    width: 100%;
    background: $color-dark-green;
    padding: 178px 0 0;

    @include media-mobile {
        padding-top: 250px;
    }
}

.footer__wrapper {
    display: flex;
    justify-content: space-between;
    margin-bottom: 80px;

    @include media-minlaptop {
        flex-direction: column;
    }
}

.subscribe__heading {
    margin-right: 20px;
}

.wrapper__column {
    display: flex;
    flex-direction: column;

    @include media-minlaptop {
        &:not(:last-child) {
            margin-bottom: 50px;
        }
    }
}

.footer__title {
    @include font (2rem, 700, 24px);
    color: $color-background;
    margin-bottom: 17px;
}

.footer__text {
    @include font (1.4rem, 400, 20px);
    color: $color-white;
    max-width: 456px;
    margin-bottom: 80px;

    @include media-minlaptop {
        margin-bottom: 20px;
    }
}

.footer__contacts {
    display: flex;
    margin-bottom: 32px;

    @include media-mobile {
        flex-direction: column;
    }
}

.footer__mail,
.footer__phone {
    display: inline-block;
    @include font (1.4rem, 600, 18px);
    color: $color-white;
    text-decoration: underline;
    margin-right: 24px;
    @extend %transition;

    &:hover {
        color: $color-yellow;
    }
}

.footer__mail {
    margin-bottom: 15px;
}

.social-media {
    display: flex;

    & li:not(:last-child) {
        margin-right: 16px;
    };
    & li path {
        @extend %transition;
        &:hover {
            fill: $color-yellow;
        }
    }
}

.list__title {
    @include font (2rem, 700, 24px);
    color: $color-background;
    margin-bottom: 20px;
}

.footer__list {
    width: 280px;

    & li {
        display: flex;
        align-items: center;
        margin-bottom: 16px;

        & svg {
            margin-right: 10px;
            & path {
                transition: fill .3s ease-in-out;
            }
        }
    
        & a {
            @include font (1.4rem, 400, 18px);
            color: $color-light-gray;
            @extend %transition;

            @include media-minmobile {
                font-size: 1.2rem;

            }
        };
        &:hover a, &:hover svg path {
            fill: $color-yellow;
            color: $color-yellow;
            text-decoration: underline;
        }
    };

    @include media-minmobile {
        width: 250px;
    }
}

.footer__list-new-item {
    padding: 2px 10px;
    border-radius: 4px;
    background: $color-white;
    margin-left: 8px;

    @include font (1.2rem, 700, 16px);
    color: $color-dark-green;
    text-transform: lowercase;
}

.copyright {
    padding: 24px 0;
    background: $color-black;
}

.copyright__wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;

    @include media-mobile {
        flex-direction: column;
    }
}

.copyright__name {
    @include font (1.4rem, 600, 18px);
    color: $color-white;

    @include media-minmobile {
        font-size: 1.2rem;
    }
}

.copyright__link {
    @include font (1.4rem, 600, 18px);
    color: $color-white;
    text-decoration-line: underline;

    @include media-minmobile {
        font-size: 1rem;
    }
}