.header {
    width: 100%;
    height: 985px;
    background-image: url('../images/header/header.webp');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.header__wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 16px;
    margin-bottom: 413px;

    @include media-laptop {
        margin-bottom: 234px;
    }
}

.header__inner {
    display: flex;
    align-items: center;
}

.header__list {
    display: flex;
    align-items: center;

    @include media-minlaptop {
        align-items: flex-start;
    }

    @include media-minlaptop {
        & li:first-child {
            display: none;
        }
    }

    & li {
        display: flex;
        align-items: center;
        margin-right: 24px;

        @include media-minlaptop {
            margin-right: 0;
        };
        & svg {
            display: none;
            margin-right: 10px;
            @include media-minlaptop {
                display: block;
            }
        }
    };
    & li:last-child {
        margin-right: 0;
    };
    & li a {
        position: relative;
        @include font(1.8rem, 600, normal);
        color: $color-light-gray;
        @extend %transition;
        &:active {
            color: $color-yellow;
            text-decoration: underline;
        }
    };
    & li a::after {
        content: "";
        position: absolute;
        left: 0;
        bottom: -2px;
        width: 0;
        height: 3px;
        border-radius: 4px;
        background-color: $color-light-gray;
        @extend %transition;
        @include media-minlaptop {
            content: none;
        }
    };
    & a:hover::after {
        width: 100%;
    };
}

.header__button {
    margin-left: 50px;

    @include media-minlaptop {
        display: none;
    }
}

.header__title {
    @include font (5rem, 700, 75px);
    color: #FDFDFD;
    font-family: "NEXT ART";
    letter-spacing: 1px;
    margin-bottom: 40px;

    @include media-minlaptop {
        font-size: 3.5rem;
        line-height: 42px;
    };
    @include media-mobile {
        font-size: 2.5rem;
    };
    @include media-minmobile {
        font-size: 1.7rem;
        line-height: 29px;
    }
}

.header__find-program {
    width: 100%;
    height: auto;
    border-radius: 10px;
    background: rgba(255, 255, 255, 0.20);
    backdrop-filter: blur(3px);
    padding: 40px 43px;

    @include media-mobile {
        background: none;
        padding: 0;
    }
}

.find-program__inner {
    display: flex;
    align-items: center;
    justify-content: space-between;

    @include media-laptop {
        flex-direction: column;
    }
}